<!DOCTYPE html>
<html>
<head>
    <title>SPOJ.pl problem info</title>
    <meta charset="utf-8" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Has the spoj.pl problem been solved in this language?</h1>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" ID="problem" class="form-control" placeholder="Problem ID, eg. PRIME" />
        </div>
        <div class="form-group">
            <select id="languages" class="form-control"></select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Anyone solved?</button>
        </div>
</form></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="spoj_info_client.js"></script>
</html>
